<a href="https://colab.research.google.com/github/petedanN/DSML-Python-Tasks/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Exercise 1
#**Write Python code that prints your name, student number and email address.**
An example runs of the program:

Bob

ST1001

bob@gmail.com

In [1]:
name = input("Enter Your Name: ")
student_number = input("Enter Your Student Number: ")
email = input("Enter Your E-mail id: ")

print("")
print(name)
print(student_number)
print(email)

Enter Your Name: Bob
Enter Your Student Number: ST1001
Enter Your E-mail id: bob@gmail.com

Bob
ST1001
bob@gmail.com

##Exercise 2
#**Write Python code that prints your name, student number and email address using escape sequences.**
An example runs of the program:

Bob

ST1001

bob@gmail.com

In [2]:
name = input("Enter Your Name: ")
student_number = input("Enter Your Student Number: ")
email = input("Enter Your E-mail id: ")

print(f"\n{name}\n{student_number}\n{email}")

Enter Your Name: Bob
Enter Your Student Number: ST1001
Enter Your E-mail id: bob@gmail.com

Bob
ST1001
bob@gmail.com

##Exercise 3
#**Write Python code that add, subtract, multiply and divide the two numbers.**
 An example run of the program:  

14 + 7 = 21

14 * 7 = 98

14 â€“ 7 = 7

14 / 7 = 2

In [3]:
num1 = 14
num2 = 7

addition = num1 +num2
print(f"{num1} + {num2} = {addition}")

substraction = num1 - num2
print(f"{num1} - {num2} = {substraction}")

multiplication = num1 * num2
print(f"{num1} * {num2} = {multiplication}")

division = int(num1/num2)
print(f"{num1} / {num2} = {division}")

14 + 7 = 21
14 - 7 = 7
14 * 7 = 98
14 / 7 = 2

##Exercise 4
#**Write Python code that displays the numbers from 1 to 5 as steps.**
An example runs of the program:

1

2

3

4

5

In [4]:
for i in range(1,6):
  print(i)

1
2
3
4
5

##Exercise 5
#**Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen:**
An example runs of the program:  
"SDK" stands for "Software Development Kit", whereas

"IDE" stands for "Integrated Development Environment".

In [5]:
print('"SDK" stands for "Software Development Kit"')
print('"IDE" stands for "Integrated Development Environment"')

"SDK" stands for "Software Development Kit"
"IDE" stands for "Integrated Development Environment"

##Exercise 6
#**Practice and check the output**
print("python is an \"awesome\" language.")

print("python\n\t2023")

print('I\'m from Entri.\b')

print("\65")

print("\x65")

print("Entri", "2023", sep="\n")

print("Entri", "2023", sep="\b")

print("Entri", "2023", sep="*", end="\b\b\b\b")

In [6]:
print('"python is an "awesome" language."')

"python is an "awesome" language."

In [7]:
print('"python\n\t2023"')

"python
	2023"

In [8]:
print("'I'm from Entri.\b'")

'I'm from Entri.'

In [9]:
print('"\65"')

print("\x65")

"5"
e

In [10]:
print("Entri", "2023", sep="\n")

Entri
2023

In [11]:
print("Entri", "2023", sep="\b")

Entri2023

In [12]:
print("Entri", "2023", sep="*", end="\b\b\b\b")

Entri*2023

##Exercise 7
#**Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?**
num=23

textnum="57"

decimal=98.3

In [13]:
num=23
textnum="57"
decimal=98.3

print(f"Type of num is {type(num)}")
print(f"Type of textnum is {type(textnum)}")
print(f"Type of decimal is {type(decimal)}")

sum = num + int(textnum) + decimal

print(f"The total sum is {sum}")

Type of num is <class 'int'>
Type of textnum is <class 'str'>
Type of decimal is <class 'float'>
The total sum is 178.3

##Exercise 8
#**Calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values**
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [14]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

total_minutes = days_in_year * hours_in_day * minutes_in_hour

print("Number of days in a year:", days_in_year)
print("Number of hours in a day:", hours_in_day)
print("Number of minutes in an hour:", minutes_in_hour)


print("Total number of minutes in a year:", total_minutes)

Number of days in a year: 365
Number of hours in a day: 24
Number of minutes in an hour: 60
Total number of minutes in a year: 525600

##Exercise 9
#**Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.**
An example runs of the program:

Please enter you name: Tony

Hi Tony, welcome to Python programming :)

In [15]:
name = input("Please enter you name: ")
print(f"Hi {name}, Welcome to Python Programming :)")

Please enter you name: Tony
Hi Tony, Welcome to Python Programming :)

##Exercise 10
#Name your file: PoundsToDollars.py

#Write a program that asks the user to enter an amount in pounds (Â£) and the program calculates and converts an amount in dollar ($)

An example runs of the program:

Please enter amount in pounds: XXX

Â£ XXX are $ XXX**

In [16]:
pounds = float(input("Enter an amount in Pounds: "))
conversion = 1.25
dollars = pounds * conversion

print(f"Â£ {pounds} are $ {dollars}")

Enter an amount in Pounds: 25.5
Â£ 25.5 are $ 31.875