<a href="https://colab.research.google.com/github/petedanN/DSML-Python-Tasks/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1.**Write a Python Program to sum all the items in a list**.

In [ ]:
items = [5, 10, 15, 20, 50]
def sum(items):
  total=0
  for i in items:
    total+=i
  return total


total = sum(items)
print(f"The sum of the list is: {total}")

The sum of the list is: 100

#2.**Write a Python Program to get the largest number from a list.**

In [ ]:
my_list = [75, 10.5, 75, 45, 89, 10, 88]
def get_largest(numbers):
  largest = numbers[0]
  for number in numbers:
    if number > largest:
      largest = number
  return largest


largest_number = get_largest(my_list)
print(f"The largest number in the list is: {largest_number}")

The largest number in the list is: 89

#3.**Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.**
**Sample List : ['abc', 'xyz', 'aba', '1221']  
Expected Result : 2**

In [ ]:
my_list = ['abc', 'xyz', 'aba', '1221','adbda','ccc','7957','1212']
def count_same_first_last(words):

  count = 0
  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      count += 1
  return count

same_count = count_same_first_last(my_list)

print(f"The number of strings with same first and last characters is: {same_count}")

The number of strings with same first and last characters is: 5

#4.**Write a Python program to remove duplicates from a list.**

In [ ]:
def remove_duplicates(my_list):

  return list(set(my_list))


my_list = [1, 2, 2, 3, 4, 4, 5]
newList = remove_duplicates(my_list)
print(newList)

[1, 2, 3, 4, 5]

#5.**Write a Python program to check if a list is empty or not.**

In [ ]:
my_list1 = []
my_list2 = [1, 2, 3]
def is_empty(my_list):

  return len(my_list) == 0



print(f"List1 is empty: {is_empty(my_list1)}")
print(f"List2 is empty: {is_empty(my_list2)}")

List1 is empty: True
List2 is empty: False

#6.**Write a Python program to filter the list if the length of the character is < 4**
Sample List : ['abc', 'xyz', 'aba', '1221']                              
 Expected Result: ['abc', 'xyz', 'aba']

In [ ]:
my_list = ['abc', 'xyz', 'aba', '1221']
def short_strings(words):
  return [i for i in words if len(i) < 4]

filtered_list = short_strings(my_list)

print(f"Filtered list (length < 4): {filtered_list}")

Filtered list (length < 4): ['abc', 'xyz', 'aba']

#7.**Write a Python program to find the second largest number in a list.**

In [ ]:
my_list = [10, 2, 7, 15, 1]

def find_second_largest(numbers):

  if len(numbers) < 2:
    return None


  numbers.sort(reverse=True)

  return numbers[1]


second_largest = find_second_largest(my_list.copy())

print(f"The second largest number is: {second_largest}")

The second largest number is: 10

#8.**Write a Python program to reverse a list at a specific location.**

In [ ]:
mylist=[2, 4, 6, 8, 10, 12, 14]

location=int(input("Enter a location to reverse the list :"))

if (location < 0 or location >= len(mylist)):
  print("invalid location")

else:

  new_list1 = mylist[:location+1]
  new_list1.reverse()
  new_list2 = mylist[location+1:]
  new_list3 = new_list1 + new_list2

print(f"List after reversing at the location {location} is : {new_list3}")

Enter a location to reverse the list :3
List after reversing at the location 3 is : [8, 6, 4, 2, 10, 12, 14]

#9.**Write a Python program to check if a list is a palindrome or not. Return true otherwise false.**

In [ ]:

list=[1,3,5,3,1]

reversedlist=list.copy()
reversedlist.reverse()

if(list==reversedlist):
  print("TRUE")
else:
  print("FALSE")

TRUE

#10.**Write a Python a program to find the union and intersection of two lists.**

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

def find_union_intersection(list1, list2):

  set1 = set(list1)
  set2 = set(list2)


  union = set1 | set2


  intersection = set1 & set2

  return union, intersection



union, intersection = find_union_intersection(list1, list2)

print(f"Union of lists: {union}")
print(f"Intersection of lists: {intersection}")

Union of lists: {1, 2, 3, 4, 5, 6, 7}
Intersection of lists: {3, 4, 5}

#11.**Write a Python script to sort (ascending and descending) a dictionary by value.**

In [ ]:
mydict={'a':5, 'b':1, 'c':3, 'd':4}

mydict_asc=dict(sorted(mydict.items(),key=lambda item:item[1]))
mydict_dec=dict(sorted(mydict.items(),key=lambda item:item[1],reverse=True))

print(f"The dictionary in ascending : {mydict_asc}")
print(f"The dictionary in descending : {mydict_dec}")

The dictionary in ascending : {'b': 1, 'c': 3, 'd': 4, 'a': 5}
The dictionary in descending : {'a': 5, 'd': 4, 'c': 3, 'b': 1}

#12.**Write a Python script to check whether a given key already exists in a dictionary.**

In [ ]:
my_dict = {'name': 'Daniel', 'age': 33, 'city': 'New York'}

def key_exists(my_dict, key):

  return key in my_dict


key_to_check = 'age'

if key_exists(my_dict.copy(), key_to_check):
  print(f"Key '{key_to_check}' exists in the dictionary.")
else:
  print(f"Key '{key_to_check}' does not exist in the dictionary.")

Key 'age' exists in the dictionary.

#13.**Write a Python program to sum all the values in a dictionary.**

In [ ]:
my_dict = {'a': 10, 'b': 5, 'c': 15, 'd': 20}

def sum_dict(data):

  total = 0

  for value in data.values():
    total += value

  return total


sum_of_values = sum_dict(my_dict.copy())
print(f"The sum of all values in the dictionary: {sum_of_values}")

The sum of all values in the dictionary: 50

#14.**.Write a Python program to create a dictionary with a number and its corresponding square from 1 to input number. And also check if the input number is less than 10**
Eg:
Input : 3

Output : {1:1, 2:4, 3:9}

In [ ]:
num=int(input("Enter a number :"))

if(num>=10):
  print("Entered number must be less than 10 ")

else:

  my_dict={i:i*i for i in range(1,num+1)}

  print(f"The required dictionay is :{my_dict}")

Enter a number :7
The required dictionay is :{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

#15.**Write a Python program to sort a given dictionary by key.**

In [ ]:
my_dict = {'a': 3, 'b': 1, 'z': 2, 'e': 10}


def sort_dict_by_key(data):

  return dict(sorted(data.items()))


sorted_dict = sort_dict_by_key(my_dict.copy())
print(f"Sorted dictionary by key: {sorted_dict}")

Sorted dictionary by key: {'a': 3, 'b': 1, 'e': 10, 'z': 2}

#16.**Write a Python program to create a dictionary from a string.**
Note: Track the count of the letters from the string.

Sample string : 'learnpython'

Expected output: {'l': 1, 'e': 1, 'a': 1, 'r': 1, 'n': 2, 'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1}

In [ ]:
string = 'helloworld'

def letter_count(string):

  letter_counts = {}
  for i in string:

    i = i.lower()
    if i.isalpha():
      if i in letter_counts:
        letter_counts[i] += 1
      else:
        letter_counts[i] = 1
  return letter_counts


letter_counts = letter_count(string)
print(f"Letter count dictionary: {letter_counts}")

Letter count dictionary: {'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

#17.**Write a Python program to get the top three items in a shop.**
Sample data: {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

Expected Output:

item4 55

item1 45.5

item3 41.3

In [ ]:
shopitems={'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

sorteditems=sorted(shopitems.items(),key=lambda item: item[1],reverse=True)

top_three_items=sorteditems[:3]

print(f"The top three items in the shop is :{top_three_items}")

The top three items in the shop is :[('item4', 55), ('item1', 45.5), ('item3', 41.3)]